extends scripts
block content
	div(is='u-slide' split = 'down' scroll = '0' snap = '1' height = '100%' width = '100%')#top
		div(is='u-slide' beta = 100)#logo.flex-center.bg.section
			|BRICK
		div(is='u-slide' beta = 100 split = 'right' scroll = '0' snap = '1')#bot.light
			div(is='u-slide' beta = 100)#first.section.bg.flex-center
				|FIRST
			div(is='u-slide' beta = 100)#second.section.bg.flex-center
				|SECOND
			div(is='u-slide' beta = 100)#third.section.bg.flex-center
				|THIRD
			div(is='u-slide' beta = 100)#fourth.section.bg.flex-center
				|FOURTH