extends scripts
block content
	div(is='u-slide' split = 'down' scroll = '0' snap = '1' height = '100%' width = '100%')#top
		div(is='u-slide' beta = 100)#logo.flex-center.orange-gradient
			|LOGO
		div(is='u-slide' beta = 100 split = 'right' scroll = '0' snap = '1')#bot.light
			div(is='u-slide' beta = 100)#first.section.light
				|FIRST
			div(is='u-slide' beta = 100)#second.section.dark
				|SECOND
			div(is='u-slide' beta = 100)#third.section.light
				|THIRD
			div(is='u-slide' beta = 100)#fourth.section.dark
				|FOURTH