html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		
		script(src='http://code.jquery.com/jquery-2.1.4.min.js')
		script(src='/javascripts/document-register-element.js')
		script(src='/javascripts/TweenLite.min.js')
		script(src='/javascripts/CSSPlugin.min.js')
		script(src='/javascripts/Draggable.min.js')
		script(src='/javascripts/ThrowPropsPlugin.min.js')
		script(src='/javascripts/lodash.min.js')


		link(rel='stylesheet', href='/javascripts/style.css')
		script(src='/javascripts/Slide.js')
	body
		block content