html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		
		script(src='http://code.jquery.com/jquery-2.1.4.min.js')
		script(src='/javascripts/deps/document-register-element.js')
		script(src='/javascripts/deps/TweenLite.min.js')
		script(src='/javascripts/deps/CSSPlugin.min.js')
		script(src='/javascripts/deps/Draggable.min.js')
		script(src='/javascripts/deps/ThrowPropsPlugin.min.js')
		script(src='/javascripts/deps/lodash.min.js')


		link(rel='stylesheet', href='/javascripts/deps/style.css')
		script(src='/javascripts/deps/Slide.js')
	body
		block content