@font-face {
  font-family: Kirvy;
  src: url("Kirvy-Regular.otf");
}


@font-face {
  font-family: Dosis;
  src: url("Dosis-Light.otf");
}

html
	background: linear-gradient(45deg,#FF2B2B,#FF9A2B);
#minimalui-spoof
	display hidden
	position absolute
	top 0
	left 0
	width 100vw
	height unquote('calc(100vh + 10px)')


#main
	background: linear-gradient(45deg,#FF2B2B,#FF9A2B);
	position fixed
	left 0
	top 0


#cover
	font-size: 5em
	
	text-shadow: 0px 0px 2px rgba(255,255,255,0.6);
	font-family DOSIS
	span
		width: 100%	
#cover-down-arrow
	margin-top 100%
	transform rotate(-90deg)
	font-size 50px
	opacity 0.3
.feed
	//background: linear-gradient(45deg, #590028, #750035);

.feed-container
	
	justify-content: space-around
	align-items:center
	align-content stretch


.feed-title
	align-items: baseline !important;
	padding-left: 10px
	//border-bottom: solid 0.5px #B9B9B9
	background rgba(0,0,0,0.5)
	font-family DOSIS
	color: #fff
	
	font-size 15px


.mini-element-wrapper
	
	
	
	
	font-family DOSIS;
	color: rgba(255,255,255,0.6)
	// border-bottom: solid 0.5px #6A9996;
	


.mini-element

	background: rgba(0,0,0,0.4) 
	width 100%
	height unquote('calc(100% - 1px)')
	font-size 13px