@font-face {
  font-family: Kirvy;
  src: url("Kirvy-Regular.otf");
}

@font-face {
  font-family: Dosis;
  src: url("Dosis-Light.otf");
}

#cover
	font-size: 100px
	background: linear-gradient(45deg,#FF2B2B,#FF2B8A);
	text-shadow: 0px 0px 2px rgba(255,255,255,0.5);
	font-family DOSIS	
.feed
	background: linear-gradient(45deg,#000,#fff);
.section_header
	background: #fff;
	border-bottom: #000;
.section_header-title
	font-size: 50px;
	font-family Kirvy
	

.show_element-mini
	width: 100%;
	background-color #ADE2E0
	border-bottom 1px solid #fff
	color: #3DADA8
	padding: 50px
	font-size: 40px
	border-bottom 1px solid #3DADA8
.show_sale_element-mini
	width: 100%;
	background-color #E0D0AF
	border-bottom 1px solid #655127
	color: #655127
	padding: 50px
	font-size: 40px

.mini-element
	width: 100%;
	overflow: hidden;
	background-size cover !important
	background-color #C7EBE9
	


.promoted-mini
	width: 100%;
	background-color #C7EBE9

	color: #53C1BC
	
.mini-element-title
	font-size: 60px;
	font-family DOSIS
	position absolute
	left 0
	bottom 0
	padding 20px
	color rgba(255, 255, 255, 0.7);