@font-face {
  font-family: Kirvy;
  src: url("Kirvy-Regular.otf");
}

@font-face {
  font-family: Dosis;
  src: url("Dosis-Light.otf");
}

#minimalui-spoof
	display hidden
	position absolute
	top 0
	left 0
	width 100vw
	height unquote('calc(100vh + 10px)')

#main
	position fixed
	left 0
	top 0

#cover
	font-size: 5em
	background: linear-gradient(45deg,#FF2B2B,#FF2B8A);
	text-shadow: 0px 0px 2px rgba(255,255,255,0.5);
	font-family DOSIS	


.section
	background #F2F2F2 
	border-bottom: solid 10px #172428



.feed
	background: #1A2625


.feed-container
	background: #1A2625

	justify-content: space-around
	align-items:center
	align-content stretch
.feed-title
	border-bottom: solid 0.5px #C1C1C1
	font-family DOSIS
	color #817C7C
	background: #F5F5F5
	font-size 20px


.mini-element-wrapper
	
	font-family DOSIS;
	color: #6A9996
	border-bottom: solid 0.5px #6A9996;
	border-radius: 0px;
	background: #fff;
	font-size 15px