html, body{
	padding: 0px;
	margin: 0px;
	height: 100vh;
	width: 100vw;
}

body 
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

a
	color: #00B7FF

.section
	font-size: 85px

.bg
	background: url('./bg.jpg') no-repeat center center;
	overflow: hidden;





//shows sections
#shows
	background #000;
	color #fff;
	