html,
body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#sections {
  background: #000;
}
.bg {
  background: url("./bg.jpg") no-repeat center center;
  overflow: hidden;
}
#shows {
  background: #000;
  color: #fff;
}
@font-face {
  font-family: Kirvy;
  src: url("Kirvy-Regular.otf");
}
@font-face {
  font-family: Dosis;
  src: url("Dosis-Light.otf");
}
#cover {
  font-size: 100px;
  background: -webkit-linear-gradient(45deg, #ff2b2b, #ff2b8a);
  background: linear-gradient(45deg, #ff2b2b, #ff2b8a);
  text-shadow: 0px 0px 2px rgba(255,255,255,0.5);
  font-family: DOSIS;
}
.feed {
  background: -webkit-linear-gradient(45deg, #000, #fff);
  background: linear-gradient(45deg, #000, #fff);
}
.section_header {
  background: #fff;
  border-bottom: #000;
}
.section_header-title {
  font-size: 50px;
  font-family: Kirvy;
}
.mini-element {
  width: 100%;
  overflow: hidden;
  background-size: cover !important;
}
.mini-element-title {
  font-size: 60px;
  font-family: DOSIS;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  color: rgba(255,255,255,0.7);
}
