html,
body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
  width: 0px;
}
@font-face {
  font-family: Kirvy;
  src: url("Kirvy-Regular.otf");
}
@font-face {
  font-family: Dosis;
  src: url("Dosis-Light.otf");
}
body,
html {
  background: -webkit-linear-gradient(45deg, #590028, #750035);
  background: linear-gradient(45deg, #590028, #750035);
}
#minimalui-spoof {
  display: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh + 10px);
}
#main {
  background: -webkit-linear-gradient(45deg, #590028, #750035);
  background: linear-gradient(45deg, #590028, #750035);
  position: fixed;
  left: 0;
  top: 0;
}
#cover {
  font-size: 5em;
  background: -webkit-linear-gradient(45deg, #ff2b8a, #ff2b2b);
  background: linear-gradient(45deg, #ff2b8a, #ff2b2b);
  text-shadow: 0px 0px 2px rgba(255,255,255,0.5);
  font-family: DOSIS;
}
.feed-container {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}
.feed-title {
  -webkit-box-align: baseline !important;
  -webkit-align-items: baseline !important;
      -ms-flex-align: baseline !important;
          align-items: baseline !important;
  padding-left: 10px;
  border-bottom: solid 0.5px #b9b9b9;
  background: #f5f5f5;
  font-family: DOSIS;
  color: #000;
  font-size: 15px;
}
.mini-element-wrapper {
  font-family: DOSIS;
  color: rgba(255,255,255,0.6);
}
.mini-element {
  width: 100%;
  height: 100%;
  font-size: 13px;
}
