html,
body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.section,
.bg {
  background: url("./bg.jpg") no-repeat center center;
  overflow: hidden;
}
#shows {
  background: #000;
  color: #fff;
}
#cover {
  font-size: 85px;
}
.feed {
  background: -webkit-linear-gradient(45deg, #000, #fff);
  background: linear-gradient(45deg, #000, #fff);
}
.mini-element {
  width: 100%;
  overflow: hidden;
}
