script(type='text/template')#show_element-mini
	.show_element-mini
		|{{title || headliners}}

script(type='text/template')#show_sale_element-mini
	.show_sale_element-mini
		|{{title || headliners}}

script(type='text/template')#show_promo_element-mini
		div(style='background: url("{{banner}}") no-repeat center center;').mini-element.promoted-mini
			.mini-element-title
				|{{title || headliners}}
