script(type='text/template')#show_element-mini
	div(is = 'u-slide' beta = '{{size}}' style = 'background-color: {{bg}};').mini-element-wrapper.flex-center
		.mini-element.show_element-mini
			//- |{{title || headliners}}

script(type='text/template')#show_sale_element-mini
	div(is = 'u-slide' beta = '{{size}}' style = 'background-color: {{bg}};').mini-element-wrapper.flex-center
		.mini-element.show_sale_element-mini
			//- |{{title || headliners}}

script(type='text/template')#show_promo_element-mini
	div(is = 'u-slide' beta = '{{size}}' style = 'overflow:hidden;').mini-element-wrapper.flex-center
		.promoted-mini
			img(src='{{banner}}' style = 'position: relative; width: 150%; height: auto; -webkit-transform:translate(-15%,-15%);')
			.mini-element-title
				//- |{{title || headliners}}
