//-static application layout.
div(is="u-slide" split="down" scroll="0" snap="1" height="100%" width="100%")#main
	div(is="u-slide" beta="100").flex-center#cover
		|BRICK.
	div(is="u-slide" beta="100" split="right" scroll="0" snap="1")#sections.light

//- script(type='section/template')#show_brick_full
//- 	.element.show
//- 		|{}
//- 	.element.signup
//- 		|{asd}




//- script(type='text/template')#show_brick_mini
//- 	.element.show.title
//- 		|{{title}}


//-section template contains different feeds
script(type='text/template')#section-template
	div(is="u-slide" beta = '100' split = 'down').section
		div(is="u-slide"  beta="15" split = 'right').section_header
			div(is="u-slide" beta="20" height = 'auto').section_header-title.flex-center
				|{{section_title}}
		div(is="u-slide" beta="100"  scroll = '0' split = 'down' snap = '1').section_content


//-feed contains three elements
script(type='text/template')#feed-template
	div(is="u-slide" beta="100" split = 'down').feed
		div(is="u-slide" beta = '30').mini-element-wrapper
		div(is="u-slide" beta = '30').mini-element-wrapper
		div(is="u-slide" beta = '30').mini-element-wrapper

include elements.jade

	//- .element.headliners.
	//- 	{{ _.each(headliners,function(liner){
	//- 		}}<span class='head_liner'>{{liner}}</span>{{
	//- 	});}}
	//- .element