.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.light {
  background: #f5f5f5;
  color: #151515;
}
.dark {
  background: #151515;
  color: #f5f5f5;
}
.light-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1px;
  padding: 5px;
  margin: 3px;
  outline: none;
  border-radius: 2px;
  border: 1px solid;
  -webkit-transition: background 0.3s ease-out;
          transition: background 0.3s ease-out;
  font-size: 12px;
  color: #000;
  background: #fff;
  border-color: #e9e9e9;
  border-radius: 2px;
}
.light-box2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1px;
  padding: 5px;
  margin: 3px;
  outline: none;
  border-radius: 2px;
  border: 1px solid;
  -webkit-transition: background 0.3s ease-out;
          transition: background 0.3s ease-out;
  font-size: 12px;
  color: rgba(0,0,0,0.65);
  background: #f0f0f0;
  border-color: #e9e9e9;
  border-radius: 2px;
}
.light-box2:hover {
  background: #f7f7f7;
}
.light-box3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1px;
  padding: 5px;
  margin: 3px;
  outline: none;
  border-radius: 2px;
  border: 1px solid;
  -webkit-transition: background 0.3s ease-out;
          transition: background 0.3s ease-out;
  font-size: 12px;
  color: rgba(0,0,0,0.75);
  background: #ebebeb;
  border-color: #e4e4e4;
  border-radius: 2px;
}
.dark-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1px;
  padding: 5px;
  margin: 3px;
  outline: none;
  border-radius: 2px;
  border: 1px solid;
  -webkit-transition: background 0.3s ease-out;
          transition: background 0.3s ease-out;
  font-size: 12px;
  color: rgba(255,255,255,0.81);
  background: #595959;
  border-color: #2e2e2e;
}
.dark-box2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1px;
  padding: 5px;
  margin: 3px;
  outline: none;
  border-radius: 2px;
  border: 1px solid;
  -webkit-transition: background 0.3s ease-out;
          transition: background 0.3s ease-out;
  font-size: 12px;
  color: #fff;
  background: #2d2d2d;
  border-color: #030303;
}
.grow {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.pink-gradient {
  background: -webkit-linear-gradient(45deg, #ff0645, #ff310d);
  background: linear-gradient(45deg, #ff0645, #ff310d);
}
.dark-gradient {
  background: -webkit-linear-gradient(45deg, #2d0011, #2f000e);
  background: linear-gradient(45deg, #2d0011, #2f000e);
}
.flex {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.flex-start {
  -webkit-box-align: inherit;
  -webkit-align-items: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-flex-wrap: wrap !important;
      -ms-flex-wrap: wrap !important;
          flex-wrap: wrap !important;
}
.flex-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  -webkit-flex-wrap: wrap !important;
      -ms-flex-wrap: wrap !important;
          flex-wrap: wrap !important;
}
.align-start {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}
.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.7em;
}
.split-left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.split-down {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.three {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.large {
  width: 150px;
  height: 150px;
}
.medium {
  min-width: 60px;
  min-height: 60px;
}
.small {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 35px;
  height: 35px;
}
.image-full {
  width: 100%;
  height: auto;
}
.ful {
  width: 100%;
  height: 100%;
}
.medium-text {
  font-size: 15px;
}
.large-text {
  font-size: 25px;
}
.small-text {
  font-size: 10px;
}
.column-well-small {
  padding-top: 5px;
  padding-bottom: 0px;
}
.column-split {
  padding: 2px;
  border-bottom: 1px solid #e9e9e9;
}
.square-well {
  margin: 20px;
}
.thin-dark {
  text-shadow: inset 1px 1px 0px #000, inset -1px -1px 0px #000;
}
.rectangle {
  width: auto !important;
}
.circle {
  border-radius: 100%;
}
.leaf {
  border-radius: 50% 0% 50% 0%;
}
.tag {
  cursor: default;
  position: relative;
  padding-left: 15px;
  position: relative;
  font-size: 12px;
  width: auto !important;
}
.tag:before {
  content: " ";
  position: absolute;
  left: 2px;
  top: 45%;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #fff;
  border: 1px solid #e9e9e9;
}
.thick-border {
  border: 1px solid #fff;
  box-shadow: 0px 0px 1px rgba(255,255,255,0.17);
}
.thick-border-white {
  box-shadow: 0px 0px 1px rgba(0,0,0,0.63);
  border: 1px solid #fff;
}
input {
  color: rgba(0,0,0,0.7) !important;
  height: calc(100%-6px);
  width: 100%;
  font-size: 20px;
  font-family: Dosis;
  padding-left: 14px;
  -webkit-transition: background 0.3s ease-out;
          transition: background 0.3s ease-out;
  background: #fff;
}
input:focus {
  background: #fffff5;
}
::-webkit-input-placeholder {
  color: rgba(0,0,0,0.3);
}
.transform-in {
  -webkit-transition: -webkit-transform ease-in;
          transition: transform ease-in;
}
.transform-out {
  -webkit-transition: -webkit-transform ease-out;
          transition: transform ease-out;
}
.transform-inout {
  -webkit-transition: -webkit-transform cubic-bezier(0.59, 0, 0.07, 1);
          transition: transform cubic-bezier(0.59, 0, 0.07, 1);
}
.fast {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.normal {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: initial;
}
.abs {
  position: absolute;
  top: 0;
  left: 0;
}
._intui_el {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}
._intui_wp {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}
._intui_fixed {
  z-index: 1;
  position: fixed;
  pointer-events: none;
}
._intui_fixed div {
  pointer-events: all;
}
._intui_overlay {
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
._intui_loader {
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
}
._intui_right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
._intui_left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
._intui_down {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
._intui_up {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
._intui_loader_wrap {
  position: relative;
  height: 100%;
  width: 100%;
  background: #000;
  -webkit-filter: blur(15px) contrast(70);
}
._intui_loader_c {
  top: 50%;
  left: 50%;
  position: absolute;
}
._intui_loader {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000;
  overflow: hidden;
}
._intui_loader_nub {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  margin: 0 auto;
  -webkit-backface-visibility: hidden;
  width: 70px;
  height: 70px;
  margin-left: -35px;
  margin-top: -35px;
  border-radius: 100%;
  background: #fff;
}
._intui_loader_tick {
  margin-left: -17.5px;
  margin-top: -17.5px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #00f;
  -webkit-filter: saturate(0);
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
